.env
.git
.gitattributes
.gitignore
.github
.vscode
.idea
node_modules
vendor
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/debugbar
public/build/*
public/hot
public/storage
*.log
.DS_Store
docker-compose.yml
docker-compose*.yml
.phpunit.cache
phpunit.xml
postcss.config.js
tailwind.config.js
vite.config.js
package-lock.json
yarn.lock
.editorconfig
.npmrc